<div class="container" style="width: 500px; margin-top: 200px; margin-bottom: 245px; min-height: 910px;">
  <h1>Edit Trip Details</h1>

  <%= form_with(model: @trip, local: true) do |form| %>
    <p>
      <%= form.label :start_date %><br>
      <%= form.date_field :start_date %>
    </p>

    <p>
      <%= form.label :end_date %><br>
      <%= form.date_field :end_date %>
    </p>


    <%= form.submit %>
  <% end %>
</div>
