<div class="container" style="margin-top: 35px; margin-bottom: 35px;">
  <h1>Chatrooms</h1>
  <ul>
    <% @chatrooms.each do |chatroom| %>
      <li>
        <%= link_to "#{chatroom.name}", chatroom_path(chatroom) %>:
        <% if @users_in_chatrooms[chatroom.id].present? %>
          <%= @users_in_chatrooms[chatroom.id].join(', ') %>
        <% else %>
          No users
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="container" style="padding-right: 800px;">
    <h1>Make a new chat</h1>
    <%= simple_form_for @chatroom do |f| %>
      <%= f.input :name, label: "Chatroom name" %>
      <%= f.button :submit, "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
