<div class="container">
  <h1>My Buddies</h1>
  <div class="row">
    <div class="col-md-4">
      <h3>Sent Requests</h3>
      <% @pending_approval_matches.each do |match| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= match.trip.destination.name %></h5>
            <p class="card-text">Traveling from <%= match.trip.start_date %> to <%= match.trip.end_date %></p>
            <p class="card-text"><%= match.receiver.first_name %> <%= match.receiver.last_name %></p>
            <p class="card-text"><%= match.status.humanize %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <h3>Received Requests</h3>
      <% @awaiting_approval_matches.each do |match| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= match.trip.destination.name %></h5>
          <p class="card-text">Traveling from <%= match.trip.start_date %> to <%= match.trip.end_date %></p>
          <p class="card-text"><%= match.sender.first_name %> <%= match.sender.last_name %></p>
          <%= button_to "Awaiting Approval", chat_request_path(match, confirm: 'yes'), method: :patch, class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <h3>Confirmed Requests</h3>
      <% @confirmed_matches.each do |match| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= match.trip.destination.name %></h5>
          <p class="card-text">Traveling from <%= match.trip.start_date %> to <%= match.trip.end_date %></p>
          <p class="card-text"><%= match.receiver == current_user ? match.sender.first_name : match.receiver.first_name %> <%= match.receiver == current_user ? match.sender.last_name : match.receiver.last_name %></p>
          <%= link_to "Let's chat", "#", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
