
<h1><%= @user.first_name %> <%= @user.last_name %>'s Profile</h1>
<p>Email: <%= @user.email %></p>
<p>Average rating: </p>
<p>Reviews: </p>

<div class="row">
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @user.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %>
    <%= link_to "Delete",
    review_path(review),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  </li>
  <% end %>
</div>
</ul>
<p><%= link_to "add review", new_user_review_path(@user) %></p>
