<div class="container" style="margin-top: 35px; margin-bottom: 35px;">

  <h1 style="text-align: center;"><%= "#{@user.first_name}'s Profile" %></h1>
  <% if current_user.photo.blank? %>
          <%= image_tag "https://w7.pngwing.com/pngs/527/663/png-transparent-logo-person-user-person-icon-rectangle-photography-computer-wallpaper.png", height: 100, width: 100, crop: :fill, radius: "max" %>
          <% else %>
          <%= cl_image_tag current_user.photo.key, height: 100, width: 100, crop: :fill, radius: "max" %>
          <% end %>
  <p>Email: <%= @user.email %></p>
  <p>Average rating: </p>
  <div class="row">
    <p><strong>Received reviews:</strong></p>
    <ul class="list-group">
      <% @user.received_reviews.each do |review| %>
        <li class="list-group-item"><%= review.content %> <%= review.user.first_name %>
        <% link_to "Delete",
        review_path(review),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </li>
  <% end %>
</div>
  <p><strong>Sendet reviews:</strong></p>
  <ul class="list-group">
    <% @user.reviews.each do |review| %>
        <li class="list-group-item"><%= review.content %> <%= review.user.first_name %>
        <%= link_to "Delete",
        review_path(review),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </li>
  <% end %>
  </ul>
    </ul>
</div>
<ul>
  <p><strong>Old Buddies</strong></p>
<%@buddies.each do |buddie| %>
<nav class="menu-bar">
  <div class="group">
    <%if buddie.sender == @user%>
      <%= buddie.receiver.first_name%>
      <%=buddie.trip.destination.name%>
    <% else %>
      <%=buddie.sender.first_name%>
      <%=buddie.trip.destination.name%>
    <% end %>
    <p><%= link_to "add review", new_user_review_path(@user, receiver_id: buddie.sender.id == @user.id ? buddie.receiver.id : buddie.sender.id) %></p>
  </div>
<% end %>

</ul>
  </div>
  <div class="group">
  </div>
</nav>
