<div class="container">

  <h1 style="text-align: center;"><%= "#{current_user.first_name}'s Dashboard" %></h1>

  <h2>User Information</h2>
  <p>Name: <%=@user.first_name%> <%= @user.last_name %></p>
  <p>Email: <%=@user.email%></p>

  <h2>Favorite Destinations</h2>
  <% if @user.all_favorited.empty? %>
    <p>You have no favorite destinations.</p>
  <% else %>
    <div class="row">
      <% @user.all_favorited.each do |destination| %>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= link_to destination.name, destination_path(destination) %></h5>
              <%= link_to "Create a new trip", new_destination_trip_path(destination_id: destination.id), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <h2>Upcoming Trips</h2>
  <% if @user.trips.empty? %>
    <p>You have no upcoming trips.</p>
  <% else %>
    <div class="row">
      <% @user.trips.each do |trip| %>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= link_to trip.destination.name, destination_path(trip.destination) %></h5>
              <p class="card-text">Start Date: <%= trip.start_date %></p>
              <p class="card-text">End Date: <%= trip.end_date %></p>
              <%= link_to "Edit", edit_trip_path(trip), style: "background-color: #2156af; border-radius: 20px; border: none; color: #FFFFFF; font-size: 20px; font-weight: bold; padding: 10px 20px; text-decoration: none; transition: all 0.3s ease-in-out;" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
