<head>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
</head>

<body>
  <% if current_user.photo.blank? %>
      <%= image_tag "https://w7.pngwing.com/pngs/527/663/png-transparent-logo-person-user-person-icon-rectangle-photography-computer-wallpaper.png", height: 200, width: 200, crop: :fill, radius: "max" %>
    <% else %>
      <%= cl_image_tag current_user.photo.key %>
  <% end %>

  <div class="banner">
    <div class="row banner-content" style="margin-left:40px;">
      <div class="col-md-9 text-center">
        <h1 class="banner-title" style="margin-bottom:60px;">TravelPal</h1>
        <h2 class="banner-subtitle" style="margin-bottom:60px; font-size: 30px;">Discover the World, Share the Experience</h2>
        <p class="search-bar-slogan">Discover your next dream destination and exciting activities to experience!</p>
        <div class="search-form-container" style="display: flex; justify-content: center; align-items: center;">
          <%= form_with url: destinations_path, method: :get, class: "banner-search-form" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a destination",
              input_html: {data: {address_autocomplete_target: "address"}},
              wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
            <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <%= link_to new_trip_path, class: "col-md-3 text-center", id: "banner-image"  do %>
        <div  style="display: flex; align-items: end; justify-content: center;">
          <p class="image-slogan" style="margin-bottom: 0rem;">Ready to explore? Craft your journey and connect with travel buddies now!</p>
          <%= image_tag 'boarding-pass.png', class: 'boarding-pass-image' %>
        </div>
      <% end %>
      <%# <div class="col-md-1 text-center" style="display: flex; align-items: end; justify-content: center;">
      </div> %>
    </div>
  </div>

  <div class="container" style="padding: 40px;">
    <h2 class="row justify-content-center" style="font-weight: bolder;">Our top destination picks...</h2>
  </div>

  <div class="container" style="padding: 0 100px 40px">
    <div class="row">
      <div class="home-card col-sm-6">

        <div id="cardCarousel" class="carousel slide">
          <div class="carousel-inner">
            <% @destinations.each_with_index do |destination, index| %>
              <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                <%= link_to destination_path(destination), class: "text-dark text-decoration-none" do %>
                  <div class="row card-container">
                    <div class="col-md-12">
                      <div class="card card-sm mb-3">
                        <img class="card-img-top" src="<%= asset_path(destination.image_path) %>" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title"><%= destination.name %></h5>
                          <p class="card-text"><%= destination.description %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#cardCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#cardCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>

      <div class="home-card col-sm-6">
        <div class="col-md-12">
          <div class="map-container">
            <div style="width: 100%; height: 337px; border-radius: 10px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="video-wrapper">
    <div class="video-container">
      <video width="100%" height="100%" autoplay loop muted playsinline>
        <source src="https://lonelyplanetstatic.imgix.net/marketing/2023/BIT/videos/LOOPING%20VIDEOS/MAIN%20PAGE/NewMexico_3.mp4" type="video/mp4">
      </video>
      <div class="video-overlay">
        <h1 class="video-text" style="font-size: 120px; margin-bottom:80px;">TravelPal</h1>
        <h1 class="video-text" style="font-size: 70px;">Best in Travel</h1>
        <h1 class="video-text" style="font-size: 70px; margin-bottom:180px;">2023</h1>
        <h1 class="video-text" style="font-size: 20px;">Explore this year's expert-approved list of must-see destinations and unforgettable activities with the perfect travel buddy by your side.</h1>
      </div>
    </div>
  </div>

  <div class="container" style="padding: 20px; margin-top: 40px;">
    <h2 class="row justify-content-center" style="font-weight: bolder;">Recommended for you</h2>
  </div>

  <div class="container" style="padding: 40px; margin-bottom:40px;">
    <div class="image-grid">
      <div class="image-container">
        <a href="<%= destination_path(Destination.find_by(name: "New York")) %>" style="text-decoration: none;">
          <div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('<%= asset_path(Destination.find_by(name: "New York").image_path) %>')">
            <h3 class="city-name"><%= Destination.find_by(name: "New York").name %></h3>
          </div>
        </a>
        <a href="<%= destination_path(Destination.find_by(name: "Paris")) %>" style="text-decoration: none;">
          <div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('<%= asset_path(Destination.find_by(name: "Paris").image_path) %>')">
            <h3 class="city-name"><%= Destination.find_by(name: "Paris").name %></h3>
          </div>
        </a>
      </div>
      <div class="image-container" style="margin-top: 80px;">
        <a href="<%= destination_path(Destination.find_by(name: "London")) %>" style="text-decoration: none;">
          <div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('<%= asset_path(Destination.find_by(name: "London").image_path) %>')">
            <h3 class="city-name"><%= Destination.find_by(name: "London").name %></h3>
          </div>
        </a>
        <a href="<%= destination_path(Destination.find_by(name: "Dubai")) %>" style="text-decoration: none;">
          <div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('<%= asset_path(Destination.find_by(name: "Dubai").image_path) %>')">
            <h3 class="city-name"><%= Destination.find_by(name: "Dubai").name %></h3>
          </div>
        </a>
      </div>
      <div class="image-container">
        <a href="<%= destination_path(Destination.find_by(name: "Hong Kong")) %>" style="text-decoration: none;">
          <div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('<%= asset_path(Destination.find_by(name: "Hong Kong").image_path) %>')">
            <h3 class="city-name"><%= Destination.find_by(name: "Hong Kong").name %></h3>
          </div>
        </a>
        <a href="<%= destination_path(Destination.find_by(name: "Rome")) %>" style="text-decoration: none;">
          <div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('<%= asset_path(Destination.find_by(name: "Rome").image_path) %>')">
            <h3 class="city-name"><%= Destination.find_by(name: "Rome").name %></h3>
          </div>
        </a>
      </div>
      <div class="image-container" style="margin-top: 80px;">
        <a href="<%= destination_path(Destination.find_by(name: "Beijing")) %>" style="text-decoration: none;">
          <div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('<%= asset_path(Destination.find_by(name: "Beijing").image_path) %>')">
            <h3 class="city-name"><%= Destination.find_by(name: "Beijing").name %></h3>
          </div>
        </a>
        <a href="<%= destination_path(Destination.find_by(name: "Vienna")) %>" style="text-decoration: none;">
          <div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('<%= asset_path(Destination.find_by(name: "Vienna").image_path) %>')">
            <h3 class="city-name"><%= Destination.find_by(name: "Vienna").name %></h3>
          </div>
        </a>
      </div>
    </div>

  </div>

</body>
