<div class="container">
  <h1>Buddies list</h1>

  <% if @matches.any? %>
    <div class="container">
      <div class="row">
        <% @matches.each do |match| %>
          <div class="col-md-4">
            <div class="card mb-3" style="height:425px;">
              <div class="card-img-top" style="background-image: url(<%= asset_path(match.trip.destination.image_path %>); height: 200px; background-position: center; background-size: cover;">
                <div class="card-img-overlay d-flex align-items-start justify-content-center" style="bottom:50%;">
                  <h5 class="card-title text-white bg-dark p-2 rounded"><%= match.trip.destination.name %></h5>
                </div>
              </div>
              <div class="card-body">
                <%= link_to user_profile_path(current_user == match.trip.user ? match.user : match.trip.user) do %>
                  <img src="<%= %>" alt="<%= current_user == match.trip.user ? match.user.first_name : match.trip.user.first_name %>'s avatar" class="rounded-circle" width="80" height="80" style="position: absolute; top: 150px; left: 50%; margin-left: -40px; border: 4px solid black;">
                <% end %>
                <div class="text-center mt-4">
                  <h6 class="card-title"><%= current_user == match.trip.user ? match.user.first_name : match.trip.user.first_name %></h6>
                  <p class="card-text">Traveling from <%= match.trip.start_date %> to <%= match.trip.end_date %></p>
                  <div class="row text-center mt-2">
                    <div class="col">
                      <p class="card-text"><strong>Reviews</strong></p>
                      <p class="card-text"></p>
                    </div>
                    <div class="col">
                      <p class="card-text"><strong>Rating</strong></p>
                      <p class="card-text"></p>
                    </div>
                    <div class="col">
                      <%= link_to "Send Chat Request", chat_requests_path("chat_request[sender_id]": current_user.id, "chat_request[receiver_id]": (current_user == match.trip.user ? match.user.id : match.trip.user.id), "chat_request[trip_id]": match.trip.id), data: {turbo_method: :post}, class: "btn btn-primary" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <p>No buddies found.</p>
  <% end %>

</div>
