<div class="container" style="margin-top: 35px; margin-bottom: 35px;">
  <div class="row justify-content-center">
    <div class="col-4" id="index-background-image" style="margin-right: 10px">
      <h1 style="font-size: 51px; text-align: left; margin:5px;">NEVER STOP</h1>
      <h1 style="font-size: 51px; text-align: left; margin:5px;">EXPLORING THE</h1>
      <h1 style="font-size: 51px; text-align: left; margin-left: 5px; margin-top: 5px; margin-bottom: 130px;">WORLD</h1>
      <%= form_with url: destinations_path, method: :get, class: "index-search-form" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a destination"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      <%= link_to "See all destinations", destinations_path, class: "btn btn-primary" %>
    </div>

    <div class="col-7">
      <div style="width: 100%; height: 450px; border-radius: 10px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12">
      <% if @destinations.any? %>
        <h3 style="text-align: center; font-size: 45px; font-weight: bold; margin-top:40px;">Destinations</h3>
        <div class="row" style="margin: 30px; margin-top: 10px;">
          <% @destinations.each do |destination| %>
            <div class="col-3">
              <%= link_to destination_path(destination), class: "text-decoration-none", style: "color: black;" do %>
                <div class="destination-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('<%= asset_path(destination.image_path) %>')">
                  <h3 class="destination-city-name"><%= destination.name %></h3>
                </div>
              <% end %>
            </div>
          <% end %>
      <% else %>
        <p></p>
      <% end %>
    </div>
  </div>
</div>
