<!DOCTYPE html>
<html>
  <head>
    <title>Travelpal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-eIMB+1bpg7swKivCNSw0lOUd0xbwjIsUVQY1Yj0bZ7sycc+EL1sn7DfjCmPzixVd+oXdQFL2m1mX35bZxyUh1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
  </head>

  <body>
    <div class="page-container">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <main id="main-content">
        <%= yield %>
      </main>
      <%= render "shared/footer" %>
    </div>
  </body>

</html>
